.chatLog {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  bottom: 50px;
  overflow-y: scroll;
  font-size: 85%;
}

.fixThisStupidButton {
  margin-top: 5px;
}

h2 {
  margin: 0;
  padding: 0; 
}

.chatForm {
  position: absolute;
  height: 50px;
  left: 0px;
  width: 100%;
  bottom: 0px;
  padding:8px;
  background-color:#666;
}