<!doctype html>
<html ng-app="Chat">
  <head>
    <script src="../angular.min.js"></script>
    <script src="../owf-widget.js"></script>
    <script src="chat.js"></script>
    <link rel="stylesheet" href="../bootstrap.css">
    <link rel="stylesheet" href="chat.css">
  </head>
  <body ng-controller="ChatCtrl" class="container-fluid">
    <br/>
    <div class="chatLog">
      <table class="table table-striped">
        <tr ng-repeat="log in chatLog">
          <td>{{log.usr}} says: {{ log.msg }}</td>
        </tr>
      </table>
    </div>
    <form name="chatForm" ng-submit="submitChat('You')">
      <input name="chat" type='text' ng-model="chat"></input>
      <p class="fixThisStupidButton">
        <input type="submit" value="Submit" class="btn btn-primary btn-xs">
      </p>
    </form>
  </body>
</html>
