<!doctype html>
<html ng-app="Launcher">
  <head>
    <script src="../angular.min.js"></script>
    <script src="../owf-widget.js"></script>
    <script src="launcher.js"></script>
    <link href="../bootstrap.css" rel="stylesheet"></link>
    <link href="launcher.css" rel="stylesheet"></link>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body ng-controller="LauncherCtrl">
    <h2>Apps</h2>
    <div ng-repeat="app in apps" class="iconArea">
        <div class="launcherIcon">
          <i class="launcherImage fa {{ app.icon }} fa-4x" ng-click="launch(app.id)"></i>
        </div>
        <span class="launcherText">{{ app.name }}</span>
    </div>
  </body>
</html>
