<!doctype html>
<html ng-app="Launcher">
  <head>
    <script src="../angular.min.js"></script>
    <script src="../owf-widget.js"></script>
    <script src="launcher.js"></script>
    <link href="../bootstrap.css" rel="stylesheet"></link>
    <link href="launcher.css" rel="stylesheet"></link>
  </head>
  <body ng-controller="LauncherCtrl">
    <h1>Apps</h1>
      <div class="row">
          <div class="col-xs-4">
            <div class="iconArea">
              <div class="launcherIcon container-fluid">
                <img class="launcherImage img-rounded" src="../anthem_logo.png" ng-click="launch('geo')"></img>
              </div>
              <span class="launcherText container-fluid">Geo</span>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="iconArea">
              <div class="launcherIcon container-fluid">
                <img class="launcherImage img-rounded" src="../anthem_logo.png" ng-click="launch('alerts')"></img>
              </div>
              <span class="launcherText container-fluid">Alerts</span>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="iconArea">
              <div class="launcherIcon container-fluid">
                <img class="launcherImage img-rounded" src="../anthem_logo.png" ng-click="launch('eXo')"></img>
              </div>
              <span class="launcherText container-fluid">eXo</span>
            </div>
          </div>
      </div>
      <div class="row">
          <div class="col-xs-4">
            <div class="iconArea">
              <div class="launcherIcon container-fluid">
                <img class="launcherImage img-rounded" src="../anthem_logo.png" ng-click="launch('chat')"></img>
              </div>
              <span class="launcherText container-fluid">Chat</span>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="iconArea">
              <div class="launcherIcon container-fluid">
                <img class="launcherImage img-rounded" src="../anthem_logo.png" ng-click="launch('announcements')"></img>
              </div>
              <span class="launcherText container-fluid">Announcements</span>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="iconArea">
              <div class="launcherIcon container-fluid">
                <img class="launcherImage img-rounded" src="../anthem_logo.png" ng-click="launch('fed_search')"></img>
              </div>
              <span class="launcherText container-fluid">Fed Search</span>
            </div>
          </div>
      </div>
      <div class="row">
          <div class="col-xs-4">
            <div class="iconArea">
              <div class="launcherIcon container-fluid">
                <img class="launcherImage img-rounded" src="../anthem_logo.png" ng-click="launch('activity')"></img>
              </div>
              <span class="launcherText container-fluid">Activity</span>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="iconArea">
              <div class="launcherIcon container-fluid">
                <img class="launcherImage img-rounded" src="../anthem_logo.png" ng-click="launch('rfi')"></img>
              </div>
              <span class="launcherText container-fluid">RFI</span>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="iconArea">
              <div class="launcherIcon container-fluid">
                <img class="launcherImage img-rounded" src="../anthem_logo.png"></img>
              </div>
              <span class="launcherText container-fluid">ETC</span>
            </div>
          </div>
      </div>

  </body>
</html>
