body {
  background-color: #EDEDED;
}

h2 {
  margin: 20px 0 20px 0;
  padding-left: 35px;
}
.launcherImage {
  margin-bottom: 3px;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.launcherImage:hover {
  color: #428bca;
  -webkit-transform: translate(2px, 2px);
  transform: translate(2px, 2px);
}

.launcherIcon {
  text-align: justify;
  width: 50px;
  padding: 0;
  margin-bottom: 5px;
}

.launcherText {
  text-shadow: 5px 5px 20px black;
  text-align: center;
  margin: 0 auto;
  display: block;
  padding: 0;
  font-size: 85%;
}

.iconArea {
  margin-bottom: 15px;
}