#rfi-main {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  bottom: 50px;
  overflow-y: scroll;
}
#buttons {
  position: absolute;
  height: 50px;
  left: 0px;
  width: 100%;
  bottom: 0px;
  padding:8px;
  background-color:#666;
}
.rfi-noresponse {
    -webkit-transition: background-color 2s ease-in;
    -moz-transition: background-color 2s ease-in;
    transition: background-color 2s ease-in;
    background-color: lightblue;
}

.rfi-response {
    background-color: white;
}

