<!doctype html>
<html ng-app="Alert">
  <head>
    <script src="../angular.min.js"></script>
    <script src="../owf-widget.js"></script>
    <script src="alert.js"></script>
    <link href="../bootstrap.css" rel="stylesheet"></link>
  </head>
  <body ng-controller="AlertCtrl" class="container-fluid">
    <div>
        <h1>Alerts</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Message</th>
                    <th>Time</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tr ng-repeat="alert in alerts" ng-click="onAlertClick(alert)">
                <td>
                    <a href="#" ng-click="onAlertClick(alert)">{{alert.msg}}</a>
                </td>
                <td>
                    {{alert.time | date:'yyyy-MM-dd HH:mm:ss'}}
                </td>
                <td>
                    {{alert.location}}
                </td>
            </tr>
        </table>
    </div>
  </body>
</html>
