<!doctype html>
<html ng-app="Alert">
  <head>
    <script src="../angular.min.js"></script>
    <script src="../owf-widget.js"></script>
    <script src="alert.js"></script>
     <script src="../panopticon_api.js"></script>
    <link href="../bootstrap.css" rel="stylesheet"></link>
    <link href="alert.css" rel="stylesheet"></link>
  </head>
  <body ng-controller="AlertCtrl">
    <div ng-cloak>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Message</th>
                    <th>Time</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tr class="alert-row" ng-class="{alertOld: alert.isOld}" ng-repeat="alert in alerts">
                <td>
                    <span ng-repeat="msgPart in alert.msg">
                        <span ng-if="!msgPart.entityType">{{msgPart.text}}</span>
                        <a ng-if="msgPart.entityType" href="" ng-click="openCortexWidget({type:msgPart.entityType,id:msgPart.entityID})">{{msgPart.text}}</a>
                    </span>
                </td>
                <td>
                    {{alert.time | date:'yyyy-MM-dd HH:mm:ss'}}
                </td>
                <td>
                    <a href="#" ng-click="onAlertClick(alert)">{{alert.location[0]}}, {{alert.location[1]}}</a>
                </td>
            </tr>
        </table>
    </div>
  </body>
</html>
